###########################################################################                         
# Snippets to create anki cards using vim
###########################################################################
extends tex

priority -50


snippet la "[latex]"
[latex]
${1}
[/latex]
endsnippet
